@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

html {
	font-family: 'Source Sans Pro', 'Times New Roman';
}


/* Sticky footer
-------------------------------------------------- */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Lightbox styles
-------------------------------------------------- */
.lightbox {
	padding: 0 15px 15px 15px;
}

/* Logo Style
-------------------------------------------------- */
.logo {
	height: 100px;
	width: auto;
}

/* Materialize Changes
-------------------------------------------------- */
.dropdown-content {
	top: 65px !important;
}
.dropdown-content.select-dropdown {
	top: 3.1rem !important;
}


/* Form Styles
-------------------------------------------------- */
#cur_logo {
	margin-bottom: 15px;
}
#cur_logo a {
	height: 3rem;
	line-height: 3rem;
	margin: 1rem 15px 0 0;
}
#cur_logo img {
	height: 3rem;
}
.input-field div.error {
	position: relative;
	top: -1rem;
	font-size: 0.8rem;
	color: #ef5350;
}
.file-field div.error {
	left: -2rem;
	text-transform: initial;
}
