/* Fonts
-------------------------------------------------- */

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

html {
	font-family: 'Source Sans Pro', 'Times New Roman';
}


/* General Styles
-------------------------------------------------- */
.subtitle {
	position: relative;
	top: -10px;
	font-style: italic;
	font-size: small;
	color: #aaa;
}

.admin-btns {
	margin: 3rem 0 0 0;
}

.btn {
	margin-right: 5px;
}

/* Sticky footer
-------------------------------------------------- */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Lightbox styles
-------------------------------------------------- */
.lightbox {
	padding: 0 15px 15px 15px;
}

/* Logo Style
-------------------------------------------------- */
.logo {
	height: 64px;
	width: auto; 
	max-width: 240px;
}

/* Materialize Changes
-------------------------------------------------- */
.dropdown-content {
	top: 65px !important;
}
.dropdown-content.select-dropdown {
	top: 3.1rem !important;
}

.toast-success {
	background-color: #66bb6a;
	color: #fff; 
}

.toast-failure {
	background-color: #ef5350;
	color: #fff; 
}

.grid {
	margin: 0 auto;
}

@media only screen and (min-width: 992px) {
	.grid-sizer,
	.grid-item {
		width: 24%;
		margin: 0 0 12px 0;
	}

	.grid-gutter-sizer {
		width: 4%;
	}
}
@media only screen and (max-width: 992px) {
	.grid-sizer,
	.grid-item {
		width: 32%;
		margin: 0 0 12px 0;
	}

	.grid-gutter-sizer {
		width: 4%;
	}
}
@media only screen and (max-width: 600px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
		margin: 0 0 12px 0;
	}
}

.card .card-image {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.card .card-image img {
	width: auto !important;
	max-height: 100px;
	max-width: 100%;
	margin: 0 auto;
}

.card .card-content {
	color: #45545c;
	// height: 128px;
}

.chip {
	margin-top: 5px;
}

/* Form Styles
-------------------------------------------------- */
#cur_logo {
	margin-bottom: 15px;
}
#cur_logo a {
	height: 3rem;
	line-height: 3rem;
	margin: 1rem 15px 0 0;
}
#cur_logo img {
	height: 3rem;
}
.input-field div.error, .input-field div.custom-error {
	position: relative;
	top: -1rem;
	font-size: 0.8rem;
	color: #ef5350;
}
.file-field div.error {
	left: -2rem;
	text-transform: initial;
	letter-spacing: 0;
}

/* Materialize Tags Style
-------------------------------------------------- */
.materialize-tags {
	padding: 0 !important;
}

.materialize-tags .tt-menu {
	background-color: #fff;
	margin: 3px 0 0 0;
	min-width: 120px; 
	max-height: 650px;
	top: 102%;
    -webkit-box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.materialize-tags .tt-menu .tt-suggestion {
    clear: both;
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: lowercase;
}
.materialize-tags .tt-menu .tt-suggestion:hover {
    background-color: #eee;
}