@charset "UTF-8";

@import "components/color";
@import "components/variables";

/* Fonts
-------------------------------------------------- */
@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype");
}

html {
	font-family: 'Source Sans Pro', 'Times New Roman';
}


/* General Styles
-------------------------------------------------- */
.subtitle {
	position: relative;
	top: -10px;
	font-style: italic;
	font-size: small;
	color: #aaa;
}

.admin-btns {
	margin: 3rem 0 0 0;
}

.btn-group a, button {
	margin-right: 10px; 
}

.btn-group a, button :last-child {
	margin-right: 0; 
}

.btn-h1 {
	//display: inline-block;
}

/* Sticky footer
-------------------------------------------------- */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Comment Styles
-------------------------------------------------- */
.comment-overlay {
	width: 100%;
	height: 180px;
	z-index: 10;
	background: rgba(255,255,255,0.7);
	position: relative;
}

.comment-overlay .btn-group {
	z-index: 11;
	position: relative;
	top: -60%;
}

.comment-header {
	margin-bottom: 10px;
}

.comment-header .author-name {
	font-size: large;
}

.comment-header .author-date, .reply-details {
	color: #aaa; 
}

/* Lightbox styles
-------------------------------------------------- */
.lightbox {
	padding: 0 15px 15px 15px;
}

/* Logo Style
-------------------------------------------------- */
.logo {
	height: 64px;
	width: auto; 
	max-width: 240px;
}

/* Materialize Changes
-------------------------------------------------- */
.dropdown-content {
	top: 65px !important;
}
.dropdown-content.select-dropdown {
	top: 3.1rem !important;
}

.toast-success {
	background-color: #66bb6a;
	color: #fff; 
}

.toast-failure {
	background-color: #ef5350;
	color: #fff; 
}

.org-grid {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}

.grid {
	margin: 0 auto;
}

@media only screen and (min-width: 992px) {
	.grid-sizer,
	.grid-item {
		width: 24%;
		margin: 0 0 12px 0;
	}

	.grid-gutter-sizer {
		width: 4%;
	}
}
@media only screen and (max-width: 992px) {
	.grid-sizer,
	.grid-item {
		width: 32%;
		margin: 0 0 12px 0;
	}

	.grid-gutter-sizer {
		width: 4%;
	}
}
@media only screen and (max-width: 600px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
		margin: 0 0 12px 0;
	}
}

.card .card-image {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.card .card-image img {
	width: auto !important;
	max-height: 100px;
	max-width: 100%;
	margin: 0 auto;
}

.card .card-content {
	color: #45545c;
	// height: 128px;
}

.chip {
	margin-top: 5px;
}

/* Form Styles
-------------------------------------------------- */
#cur_logo {
	margin-bottom: 15px;
}

#cur_logo a {
	height: 3rem;
	line-height: 3rem;
	margin: 1rem 15px 0 0;
}

#cur_logo img {
	height: 3rem;
}

.input-field div.error, .input-field div.custom-error {
	position: relative;
	top: -1rem;
	font-size: 0.8rem;
	color: #ef5350;
}

.file-field div.error {
	left: -2rem;
	text-transform: initial;
	letter-spacing: 0;
}

/* Discussion Board Styles
-------------------------------------------------- */
.discussion-board td span {
	color: color('advisian-gold', 'base');
}

.discussion-board td:last-child {
	color: color('advisian-gold', 'base');
	width: 70px;
}

.discussion-board a {
	font-size: $h2-fontsize;
	line-height: 110%;
	margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;
}

/* Materialize Tags Style
-------------------------------------------------- */
.materialize-tags {
	padding: 0 !important;
}

.materialize-tags .tt-menu {
	background-color: #fff;
	margin: 3px 0 0 0;
	min-width: 120px; 
	max-height: 650px;
	top: 102%;
    -webkit-box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.materialize-tags .tt-menu .tt-suggestion {
    clear: both;
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: lowercase;
}
.materialize-tags .tt-menu .tt-suggestion:hover {
    background-color: #eee;
}

#loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#loading .row {
	margin-top: 30vh;
}

#loading .logo {
	margin: 0 auto 20px auto;
	width: 150px;
	height: 150px;
	background: #eee;
}

